@import '@/theme/texts.module.scss';
@import '@/theme/colors.module.scss';

.menu {
  position: relative;

  &__label {
    @include body-medium;

    display: flex;
    align-items: center;

    gap: 16px;
    font-weight: 600;

    cursor: pointer;
  }

  &__items {
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;

    gap: 16px;

    right: 0;
    top: calc(100% + 16px);

    padding: 24px;
    border-radius: 16px;
    background-color: $white;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);

    @media (prefers-color-scheme: dark) {
      background-color: $dark02;
      box-shadow: 0px 5px 30px $primary;
    }

    &__item {
      white-space: nowrap;
      font-weight: 600;

      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }
  }
}
