@import './colors.module.scss';

:root {
  --color-primary: #{$primary};
  --color-secondary: #{$secondary};

  --color-text: #{$dark03};
  --color-background: #{$white};
  --color-input-background: #{$dark07};
}

:root[data-theme='dark'] {
  --color-primary: #{$primary};
  --color-secondary: #{$secondary};

  --color-text: #{$white};
  --color-background: #{$dark01};
  --color-input-background: #{$dark02};

  color-scheme: dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--color-background);
}

a {
  color: inherit;
  text-decoration: none;
}
